<div class="popup-backdrop" *ngIf="showPopup">
  <div class="popup">
    <h2 *ngIf="!task.id">Neues Homework</h2>
    <h2 *ngIf="task.id">Homework bearbeiten</h2>

    <form>
      <label>
        Titel *
        <input type="text" [(ngModel)]="task.title" name="title" required />
      </label>

      <label>
        Beschreibung
        <textarea [(ngModel)]="task.description" name="description"></textarea>
      </label>

      <label>
        Frequenz *
        <select [(ngModel)]="task.frequency" name="frequency" required>
          <option value="">-- auswählen --</option>
          <option *ngFor="let f of frequencies" [value]="f">{{ f }}</option>
        </select>
      </label>

      <label>
        Dauer (Minuten) *
        <input type="number" [(ngModel)]="task.duration" name="duration" min="1" required="" />
      </label>

      <label for="category">Frühstens *</label>
      <div>
        <input id="earliest" type="number" [(ngModel)]="task.earliest" name="earliest" required="">
        <span>Tage vor Deadline</span>
      </div>

    </form>

    <div class="popup-actions">
      <button type="button" (click)="handleClose()">Abbrechen</button>
      <button type="button" (click)="handleSave()">Speichern</button>
    </div>
  </div>
</div>